cyf/project/*/conf/conf.ini
cyf/project/*/conf/role_init.sql
# 密钥
cyf/project/*/conf/key.*
cyf/project/server/logs
*.db
*.db-shm
*.db-wal
**/*.log
cyf/project/fe/node_*/*
**/dist/
.DS_STORE
.claude/
.codex/
.idea/
.joycode/
.playwright-mcp/
**/__pycache__/
cyf/project/server/.pip_cache_timestamp
**/logs.db
**/.venv/
